 button {
    float: left;
    margin: 8px 0px 0px 8px;
    padding: 4px 8px;
    background: aquamarine;
    color: #00403C;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    text-align: center;
  }
  h1 {
    color: #00403C;
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    line-height: 44px;
    background-color: aquamarine;
    padding:30px;
    margin-right: 150px;
    margin-left: 20px;
  }
  p{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 20px;
    text-align: left;
  }
  body{
    background-color:grey;
    margin-left: 300px;
  }
  .form-group{
    text-align: left;
    font-size:20px;
    margin-right:100;
  }
  .Question1{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    background-color: aqua;
  }
  .Question2{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 20px;
    text-align: left;
    background-color: aqua;
  }
  .Question3{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 100px;
    text-align: left;
    background-color: aqua;
  }
  .Question4{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 20px;
    text-align: left;
    background-color: aqua;
  }
    
 
  


